body.signin {
  background-color: #e7e7e7;
}

/*Center BS column*/
.centered{
  margin:auto;
  float:none;
}

.red-text{
  color:red;
}

.right {
  float: right;
}

/*Nav bar*/
.nav .navitems {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navitems li {
  display: inline-block;
}

/*Login form*/

.form-signin {
  max-width:330px;
  padding: 15px;
  margin: 3em auto 0;
}

.form-signin input {
  margin-bottom: 5px;
}
